<!-- footer.html -->
<section class="bg-black text-white py-12 md:py-16 xl:py-20">
  <div class="container max-w-[1340px] mx-auto px-3 space-y-6">
    <div class="grid sm:grid-cols-2 lg:grid-cols-3 gap-10 lg:gap-6">
      <div class="space-y-4 sm:col-span-2 lg:col-span-1">
        <a href="/" class="block"
          ><img alt="logo" src="./images/logo-light.svg"
        /></a>
        <p>
          Your trusted source for high-performance sports gear. Built for
          athletes. Designed for results.
        </p>
        <ul>
          <li class="flex items-center gap-2">
            <i class="fa-solid fa-phone"></i><a href="/">+1 (800) 123-SPORT</a>
          </li>
          <li class="flex items-center gap-2">
            <i class="fa-solid fa-envelope"></i
            ><a href="/">support@SportRush.com</a>
          </li>
        </ul>
        <ul class="flex items-center gap-2 text-xl">
          <li>
            <a href="/"><i class="fa-brands fa-instagram"></i></a>
          </li>
          <li>
            <a href="/"><i class="fa-brands fa-square-facebook"></i></a>
          </li>
          <li>
            <a href="/"><i class="fa-brands fa-linkedin"></i></a>
          </li>
        </ul>
      </div>
      <div class="space-y-4">
        <p class="font-heading text-xl font-semibold">Quick Links</p>
        <ul class="grid grid-cols-2 gap-2">
          <li><a href="/">About Us</a></li>
          <li><a href="/">Contact</a></li>
          <li><a href="/">FAQs</a></li>
          <li><a href="/">Shipping & Returns</a></li>
          <li><a href="/">Payment Methods</a></li>
          <li><a href="/">Terms & Conditions</a></li>
          <li><a href="/">Privacy Policy</a></li>
          <li><a href="/">Cookie Policy</a></li>
        </ul>
      </div>
      <div class="space-y-4">
        <p class="font-heading text-xl font-semibold">Newsletter</p>
        <p>
          Get exclusive discounts, training tips, and new product launches
          straight to your inbox.
        </p>
        <div class="flex">
          <div
            class="w-full flex items-center gap-2 px-2 py-3 bg-white text-accent border border-gray-300 rounded-l-sm"
          >
            <i class="fa-regular fa-envelope text-muted"></i>
            <input
              placeholder="Enter your email"
              class="w-full focus-visible:outline-0"
              type="email"
            />
          </div>
          <button
            class="bg-white text-accent px-4 py-2 rounded-r-sm hover:bg-primary-dark transition"
          >
            Subscribe
          </button>
        </div>
      </div>
    </div>
    <hr class="border-t border-gray-500" />
    <div class="flex flex-col sm:flex-row items-center justify-between gap-2">
      <p class="text-muted text-sm">© 2025 SportRush rights reserved.</p>
      <div class="flex items-center gap-1">
        <img alt="card" src="./images/amex.svg" />
        <img alt="card" src="./images/discover.svg" />
        <img alt="card" src="./images/mastercard.svg" />
        <img alt="card" src="./images/visa.svg" />
        <img alt="card" src="./images/shop.svg" />
      </div>
    </div>
  </div>
</section>
